<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clutch" version="1.0.5047.39101" targetFramework="net45" />
  <package id="Clutch.Diagnostics.EntityFramework" version="1.0.5047.39115" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.1" targetFramework="net45" />
</packages>